 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-checkout-1 {
  min-height: 748px;
  background-image: none;
  height: auto;
  margin-top: 48px;
  margin-bottom: 0;
}

.u-block-f055-31 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-1 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-3 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-4 {
  font-weight: 700;
}

.u-section-1 .u-btn-1 {
  margin-top: 20px;
}