{% extends 'base.html' %}
{% load static %}
{% block title %} <title>About — Cartme.pk</title> {% endblock %}
{% block css %} 
<link rel="stylesheet" href={% static "page-1.css" %} media="screen">
{% endblock %}
{% block body %}
  <body class="u-body u-xl-mode">
    <section class="u-align-center u-clearfix u-grey-5 u-section-1" id="carousel_1bee">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-gutter-68 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-size-34">
                <div class="u-layout-row">
                  <div class="u-align-center u-container-style u-layout-cell u-size-60 u-white u-layout-cell-1">
                    <div class="u-container-layout u-valign-middle u-container-layout-1">
                      <h6 class="u-text u-text-1">Beautify Your Home</h6>
                      <h2 class="u-custom-font u-font-playfair-display u-text u-text-2">About Our Team</h2>
                      <p class="u-text u-text-3"> We at Cartme make sure that you get best quality products for your home decor in reasonable prices. We offer cash on delivery all over Pakistan with 7-days replacement policy of defected parts . So don’t worry for anything while ordering on Cartme</p>
                      <a href="/" class="u-black u-btn u-button-style u-btn-1">GO TO SHOP</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-26">
                <div class="u-layout-col">
                  <div class="u-container-style u-image u-layout-cell u-size-30 u-image-1" data-image-width="300" data-image-height="168">
                    <div class="u-container-layout u-container-layout-2"></div>
                  </div>
                  <div class="u-container-style u-image u-layout-cell u-size-30 u-image-2" data-image-width="512" data-image-height="384">
                    <div class="u-container-layout u-container-layout-3"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    
    {% endblock %}
  </body>
</html>