{% extends 'base.html' %}
{% load static %}

{% block title %}<title>{{product.0.name}}</title>{% endblock %}
{% block css %} 
<link rel="stylesheet" href={% static "view.css" %} media="screen">

{% endblock %}
{% block body %}
<section class="u-align-center u-clearfix u-palette-1-base u-section-1" id="carousel_491c">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1"><!--product--><!--product_options_json--><!--{"source":""}--><!--/product_options_json--><!--product_item-->
    <div class="u-align-center-md u-align-center-sm u-align-center-xs u-container-style u-expanded-width u-product u-white u-product-1">
      <div class="u-container-layout u-valign-middle-lg u-valign-middle-xl u-container-layout-1"><!--product_image-->
        <img src='/media/{{product.0.image}}' alt="" class="u-expanded-width-xs u-image u-image-default u-product-control u-image-1"><!--/product_image-->
        <div class="u-container-style u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group u-shape-rectangle u-group-1">
          <div class="u-container-layout u-container-layout-2"><!--product_title-->
            <h2 class="u-align-center u-product-control u-text u-text-default u-text-1">
              <a class="u-product-title-link" href="#"><!--product_title_content-->{{product.0.name}}<!--/product_title_content--></a>
            </h2><!--/product_title-->
            <strike> <h6 class="u-text u-text-default u-text-2">Rs:{{product.0.price_1}}</h6><!--product_price--> </strike>
            <div class="u-product-control u-product-price u-product-price-1">
              <div class="u-price-wrapper u-spacing-10"><!--product_old_price-->
                <div class="u-hide-price u-old-price" style="text-decoration: line-through !important;" wfd-invisible="true"><!--product_old_price_content-->$12<!--/product_old_price_content--></div><!--/product_old_price--><!--product_regular_price-->
                <div class="u-price" style="font-size: 1.875rem; font-weight: 700;"><!--product_regular_price_content-->Rs:{{product.0.price}}<!--/product_regular_price_content--></div><!--/product_regular_price-->
              </div>
            </div><!--/product_price--><!--product_content-->
            <div class="u-align-center u-product-control u-product-desc u-text u-text-3"><!--product_content_content-->
              <p>{{product.0.description}}</p><!--/product_content_content-->
            </div><!--/product_content--><!--product_button--><!--options_json--><!--{"clickType":"add-to-cart","content":""}--><!--/options_json-->
            <a href="{% url 'cart_add' product.0.id %}" class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-product-control u-text-black u-text-hover-white u-btn-1"><!--product_button_content-->Add to Cart<!--/product_button_content--></a><!--/product_button-->
          </div>
        </div>
      </div>
    </div><!--/product_item--><!--/product-->
    <p class="u-align-center u-text u-text-4">Go To <a href="/" class="u-border-1 u-border-white u-btn u-button-style u-none u-text-body-alt-color u-btn-2">SHOP</a>
    </p>
  </div>
</section>
<section class="u-clearfix u-section-2" id="sec-3f03">
  <div class="u-clearfix u-sheet u-sheet-1"></div>
</section>
    
    {% endblock %}

 
    
    
    